fieldset {
    border: none;
    margin-top:  1.5rem;
    display: grid;
    gap: 1rem;

    & legend {
        display: flex;
        align-items: center;
        gap: .75rem;
        margin-bottom: .75rem;
    }
}

input,textarea, select {
    width: 100%;
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--body-md);
    border-radius: .5rem;
    border-width: 1px;
    border-color: var(--input-stroke);
    border-style: solid;
    outline: none;
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
}

label {
    display: inline-block;
    margin-bottom: .75rem;
}

input {
    padding: .8125rem 1rem;
}

textarea {
    padding: 1rem;
}
